@font-face {
    font-family: 'Founders Grotesk Condensed Bold';
    src: url('../fonts/FoundersGroteskCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap; /* Ensures fallback font is used until the custom font is loaded */
}


* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    height: 100vh;
    background-image: url("../img/adbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.navbar {
    width: 100%;
    height: auto;
    background-color: maroon;
    text-transform: uppercase;
}



.navbar ul {
    display: flex;
    padding: 20px;
}

.navbar li {
    list-style: none;
    margin: 10px;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.navbar li a {
    color: white;
    text-decoration: none;
}



.navbar li a:hover {
    transform: translateY(-5px);

    font-size: 20px;

}

.logo {
    width: 20%;
    height: 3vh;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 30px;

}

.logo img {
    padding: 20px;
    width: auto;
    height: auto;
}


.title {
    width: 50%;
    padding: 20px;
    margin: 70px;
}
.title h1 {
    font-size: 170px; /* Default font size */
    color: white;
    font-weight: bold;
    font-family: 'Founders Grotesk Condensed Bold', sans-serif;
    padding: 20px;
    text-transform: uppercase;
}


#btnLogin {
    background-color: maroon;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    font-weight: bold;
    border: none;
}



.title p {
    color: white;
    font-size: 25px;
    text-align: justify;
    padding-bottom: 20px;
}

.title button {
    height: 4pc;
    margin: 20px;
    padding: 10px ;
    font-weight: bold;
    font-size: 17px;
    background-color: maroon;
    border-radius: 17px;
  
    cursor: pointer;
    color: white;

}


/* .lpBtn {
    background-color: transparent;
    width: 50%;
    height: 68vh;
    display: flex;
    justify-content: center;
    position: relative;


} */

/* .lpBtn button {
    width: 12pc;
    height: 4pc;
    font-weight: bold;
    font-size: 20px;
    background-color: maroon;
    border-radius: 20px;
    position: absolute;

    bottom: 0px;

    cursor: pointer;
    color: white;

} */


.lpBtn button:hover {
    color: WHITE;
    background-color: black;
    border: 3px solid white;
}



.whitespace {
    width: 100%;
    height: 20%;
}


.floating-button {
    position: fixed;
    width: 4pc;
    height: 4pc;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    font-size: 20px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.floating-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    background-color: white;
    color: maroon;
    font-size: 25px;
    transition: transform 0.2s ease
}







@media (max-width: 1200px) {
    .logo {
        margin: 0 auto;
    }

    .title h1 {
        font-size: 100px;
    }


    .title {
        width: 70%;
        padding: 20px;
        margin: 0px;
    }

    
    .title p {
        padding-left: 20px;
        font-size: 20px;
   
        
    }
}